<div class="text-center container-headline">
	
<h1 class"landing-page-headline">This is the Home Page!</h1>

<p>This is the landing page of all visitors not signed in. Good copywriting is needed.</p>

</div>








<div id="bg">
	<%= image_tag("#{1+rand(6)}.jpg") %>
</div>
<div id="darken">
</div>





