<div class="text-center container-headline">
	
	<h1>Discover The Most Amazing Places On Earth To Travel To.</h1>
	<p>Maybe Not Tomorrow. But Some Day.</p>

	<div class="parent">
		<div class="child">

			<%= link_to 'Start Now', experiences_path, class: "btn btn-warning btn-lg btn-cta" %>
			
		</div>
	</div>
</div>








<div id="bg">
	<%= image_tag("#{1+rand(6)}.jpg") %>
</div>
<div id="darken">
</div>





