<% @experiences.each do |experience| %>
		<p><strong>Name: </strong><%= experience.name %></p>
		<p><strong>Country: </strong><%= experience.country %></p>
		<p><strong>City: </strong> <%= experience.city.capitalize %> </p>
		<p> <%= link_to 'Show Details', experience %></p>

<% end %>