/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require social-share-button
 *= require font-awesome
 */


@import "bootstrap-sprockets";
@import "bootstrap";

@media screen and (max-width: 1050px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

body{
	font-family: 'PT Sans', sans-serif;
	//font-family: 'PT Serif', serif;
	background-color: #F5F5F5;
}

h1, h2, h3, h4{
	font-weight: 700;
}
h1{
	padding-left: 15px;
	margin-bottom: 20px;
	letter-spacing: -1px;
}

img{
    //width:100%;
    max-width: 600px;
}

.panel{
	border-radius: 5px;
	
	//width: 400px;

	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.3);
}
.panel-heading{
	padding-top:20px;
	border-color: #F5F5F5;
}
.panel-body{
	padding-bottom: 20px;

}
.panel-experience{
	display: inline-block;
	width: 33%;
}

@media screen and (max-width: 1024px) {
	.panel-experience{
		display: inline-block;
		width: 49.25%;
	}
}
@media screen and (max-width: 768px) {
	.panel-experience{
		display: inline-block;
		width: 99%;
	}
}
.panel-search{
	width: 99%;
}

.panel-map-index{
	width: 100%;
}
.longer-input{
	width: 500px;
}
.container{
	width: 80%;
	margin-bottom: 50px;
}

.container-navbar-bottom{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.cointainer-filter-options{
	
}
.container-devise{
	width: 30%;
}
.container-experience{
	margin-bottom: 35px;
}
.container-experience-border{
	background-color: #d9edf7;
	border-color: #bce8f1;
    border-style: solid;
    border-width: 1px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px 20px;
}
.container-edit{
	width: 50%;
	margin-bottom: 50px;
}
.container-edit-experience{
	margin-bottom: 50px;
}

.btn-action-parent{
	text-align: center;
	margin: 0 auto 15px auto;
}

.btn-action-child{
	display: inline-block;
	margin: 0.725em;
}
.btn-wish-list-action{
	margin-top: 5px;
}
.margin-search-action{
	margin-top: 5px;
}
.btn-social{
	margin-bottom: 10px;
}
.btn-create-experience{
	margin-right: 1%;
}

.parent{
	text-align: center;
}

.child{
	display: inline-block;
	float: none;
}

.dropdown{
    display: inline;
    line-height: 40px;
}
.keywords{
	width: 250px;
	margin-top: 4px;
	margin-bottom: 2px;
}

.field{
	margin-bottom: 20px;
}

#error_explanation{
	h2{
		font-size: 1.2em;
	}

	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
#notice{
	h2{
		font-size: 1.2em;
	}

	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
#alert{
	h2{
		font-size: 1.2em;
	}

	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.list-travel-record{
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
	display: inline-block;
	padding-right: 20px;
}
.block-travel-records{
	padding: 0 15px;
}
.avatar-image{
		img{
			width: 50px;
			border-radius: 100%;
		}
}
.avatar-main{
		width: 80px;
		border-radius: 5px;
		margin-bottom: 10px;
}
.avatar-display{
	display: inline-block;
	padding: 0 5px 0 0;
	text-align: center;
	vertical-align: top;
	.image-display{
		display: block;

	}
	.name-display{
		font-size: 0.75em;
		font-weight: 700;
		margin-top: 2px;
		display: block;

	}
}

.panel-map{
	margin: 0;
	padding: 0;	
}
.add-travel-record{
	margin: 20px auto 30px auto ;
}
.review-button-adjust-margin{
	margin: 0 -10px 0 10px;
}
.review-display{
	margin-bottom: 20px;
}
.results-display{
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.results-display-no-result{
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.related-experiences{
	margin-bottom: 10px;
	list-style: none;
	display: inline-block;
	padding-right: 20px;
}
.h1-heading{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px; 
}
.h1-button{
	display: inline-block;
	vertical-align: middle;
	margin-top: 7px; 
}
.remove-travel-record{
	color: #b94a48;
}
.narrower-nav-top{
	width: 95%;
}
.navbar-brand{
	//font-family: 'PT Serif', serif;
	//font-style: italic;
	//font-family: 'Patrick Hand SC', cursive;
	font-weight: 700;
	font-size: 1.2em;
	
	a{
		color: red;
	}
}
.gray-link{
	a{
	color: #468847;
	}
}
.profile-table{
	margin-left: 5px;
	td{
		padding: 2px 10px 2px 0;
	}
}
.location-not-found-block{
	margin: 15px;
}