/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require social-share-button
 */


@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: 'PT Sans', sans-serif;
	//font-family: 'PT Serif', serif;

}

h1, h2, h4{
	font-weight: 700;
}

.container{
	width: 80%;
	margin-bottom: 50px;
}

.container-navbar-bottom{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.cointainer-filter-options{
	
}
.container-devise{
	width: 30%;
}
.container-experience{
	margin-bottom: 35px;
}
.container-experience-border{
	background-color: #d9edf7;
	border-color: #bce8f1;
    border-style: solid;
    border-width: 1px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px 20px;
}
.container-edit{
	width: 50%;
	margin-bottom: 50px;
}

.btn-action-parent{
	text-align: center;
	margin: 0 auto 15px auto;
}

.btn-action-child{
	display: inline-block;
	margin: 0.725em;
}

.parent{
	text-align: center;
}

.child{
	display: inline-block;
	float: none;
}

.dropdown{
    display: inline;
    line-height: 40px;
}
.keywords{
	width: 250px;
	margin-top: 4px;
	margin-bottom: 2px;
}

.field{
	margin-bottom: 20px;
}

#error_explanation{
	h2{
		font-size: 1.2em;
	}

	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
#notice{
	h2{
		font-size: 1.2em;
	}

	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
#alert{
	h2{
		font-size: 1.2em;
	}

	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.list-travel-record{
	margin-bottom: 10px;
	list-style: none;
	display: inline-block;
	padding-right: 20px;
}
.block-travel-records{
	padding: 0 15px;
}
.avatar-image{
		img{
			width: 50px;
			border-radius: 100%;
		}
}
.avatar-main{
		width: 80px;
		border-radius: 5px;
}
.avatar-display{
	display: inline-block;
	padding: 0 5px 0 0;
	text-align: center;
	.image-display{
		display: block;

	}
	.name-display{
		font-size: 0.75em;
		font-weight: 700;
		margin-top: 2px;
		display: block;

	}
}

.panel-map{
	padding: 0;	
}
.add-travel-record{
	margin: 20px auto 30px auto ;
}
.add-left-margin{
	margin: 0 0 0 5px;
}
.review-display{
	margin-bottom: 10px;
}
