    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid parent">
        <p class="navbar-text child">www.TravelWishLists.com All rights reserved.</p>
      </div>
    </nav>